model_config_list {
  config {
    name: 'safety_calculator'
    base_path: '/models/safety_calculator'
    model_platform: 'tensorflow'
    model_version_policy {
      all {}
    }
  }
  config {
    name: 'risk_predictor'
    base_path: '/models/risk_predictor'
    model_platform: 'tensorflow'
    model_version_policy {
      all {}
    }
  }
  config {
    name: 'anomaly_detector'
    base_path: '/models/anomaly_detector'
    model_platform: 'tensorflow'
    model_version_policy {
      all {}
    }
  }
}
